@font-face {
  font-family: "PromptRegular";
  font-style: normal;
  src: url("../fonts//Prompt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PromptMedium";
  font-style: normal;
  src: url("../fonts/Prompt-Medium.ttf");
}

@font-face {
  font-family: "PromptBold";
  font-style: normal;
  src: url("../fonts/Prompt-Bold.ttf");
}
@font-face {
  font-family: "PromptNormal";
  font-style: normal;
  src: url("../fonts//Prompt-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "PromptExtraBold";
  font-style: normal;
  src: url("../fonts/Prompt-ExtraBold.ttf");
}
